#headerNavLinks {
  box-sizing: border-box;
  align-items: center;
}

#headerNavLinks a {
  margin-top: 0;
}

.lbhHeaderLink:hover {
  border-bottom: 1px solid;
  border-bottom-color: #ffffff !important;
}

.logoService {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.logoService span {
  padding-top: 0;
}
