.record-head-container {
  display: flex;
  flex-flow: column nowrap;
}

.title-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 0;
}

.api-title {
  margin: 0;
}

.environment-button {
  background-color: #9cb5ca;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  margin: 0;
  margin-left: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 50%);
}

.environment-button:active {
  box-shadow: 0 0 0 2pt #ffc845;
  border-radius: 3px;
}

#environment-selection {
  margin-right: 10px;
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.api-status-tag,
.api-status-tag--active,
.api-status-tag--decommissioning,
.api-status-tag--deprecated,
.api-status-tag--unknown {
  align-self: flex-start;
  padding: 4px 15px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 75%;
  font-weight: 700;
  color: #fff;
}

.api-status-tag--active {
  background-color: #76b933; /* #8adc39;*/ /* chartreuse;*/
}

.api-status-tag--deprecated {
  background-color: darkred;
  color: #fff;
}

.api-status-tag--decommissioning {
  background-color: #e4ab00; /*f4b700 e4ab00 cc9800*/
}

.api-status-tag--unknown {
  background-color: #888;
}

