.apiItemDocsContainer {
  display: flex;
  flex-basis: 100%;
  /* width: 100%; */
  padding: 20px;
  margin-top: 0;
}

.row {
  display: flex;
  flex-basis: 100%;
  /* flex-flow: row nowrap; */
  /* justify-content: space-around; */
}

.row .col {
  flex: 1 0;
  margin-left: 0;
}

.col3of4 {
  flex: 0 0 75%;
}

.col1of4 {
  flex: 0 0 25%;
  max-width: 25%;
}
