/* Sidebar */

/* Head wrap */
.docsPage {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* Aside Wrapper */
.docsPageContent {
  display: flex;
  flex: 1 0 auto;
  box-sizing: border-box;
  margin-top: 3px;
  border-top: 1px solid #dadde1;
}
